
/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Components design --- */
@import url("components/button.css");
@import url("components/card.css");
@import url("components/banner.css");
@import url("components/list.css");
@import url("components/images.css");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  background: #06060E;
  color: white;
}

.container {
padding:20px;
}

h1, h3 {
  font-family: "Montserrat", "sans-serif";
}

h1 {
  margin: 1px 0;
}

h2, h3 {
  margin: 20px 0;
}

h2, .blue, a#play {
color:#A3EEF3;
font-family: "PT Mono", "Montserrat", "sans-serif";
}

.medium-size {
  font-size: 26px;
}

.large-size {
  font-size: 25px !important;
}

h2 {
  font-size: 58px;
}

h3 {
   font-size: 20px;
}



#sticky-bottom {
     position: sticky; 
     bottom: 0;
     background-color: #06060E;
}


#tour-dates{
		margin-bottom: 150px;
}

.social-icons {
  text-align: center;
  font-size: 22px;
  padding: 20px 0;
}

.concert-town a, .social-icons a {
  color:#A3EEF3 !important;
}

.concert-town a:hover, .social-icons a:hover {
  color: #CA2A26 !important;
}